:root {
  --grey-palettegrey-5: rgba(130, 136, 156, 1);
  --grey-palettegrey-6: rgba(67, 73, 102, 1);
  --grey-1: rgba(80, 93, 104, 1);
  --variable-collection-primary: rgba(59, 154, 184, 1);
  --variable-collection-light-grey: rgba(246, 246, 246, 1);
}
